<% urgency = pin.entry.watering_urgency %>
<div id="pin-<%= pin.id %>"
     class="map-pin<%= " map-pin--water-#{urgency}" if urgency %>"
     data-x-pct="<%= pin.x_percent %>"
     data-y-pct="<%= pin.y_percent %>"
     data-entry-id="<%= pin.entry_id %>"
     data-map-entry-id-param="<%= pin.entry_id %>"
     data-action="mouseenter->map#highlight mouseleave->map#unhighlight">
  <% if pin.entry.icon_image.attached? %>
    <%= image_tag pin.entry.icon_image, class: "map-pin__icon-img" %>
  <% else %>
    <%= pin.entry.display_icon %>
  <% end %>
  <span class="map-pin__label"><%= pin.entry.name %></span>
</div>
