<!DOCTYPE html>
<html>
 <head>
   <title>Plantae</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <%= javascript_importmap_tags %>

   <%= favicon_link_tag 'favicon.svg' %>
 </head>

 <body>
   <% if notice.present? || alert.present? %>
     <div class="app-toast-container" data-controller="toast">
       <% if notice.present? %>
         <div class="app-toast app-toast--info" data-toast-target="message"><%= notice %></div>
       <% end %>
       <% if alert.present? %>
         <div class="app-toast app-toast--danger" data-toast-target="message"><%= alert %></div>
       <% end %>
     </div>
   <% end %>
   <%= render '/shared/navbar' %>
   <%= yield %>
 </body>
</html>