<!DOCTYPE html>
<html>
 <head>
   <title>Plantae</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <%= javascript_importmap_tags %>

   <%= favicon_link_tag 'favicon.svg' %>
 </head>

 <body data-controller="lightbox" data-action="keydown.esc@window->lightbox#close">
   <% if notice.present? || alert.present? %>
     <div class="app-toast-container" data-controller="toast">
       <% if notice.present? %>
         <div class="app-toast app-toast--info" data-toast-target="message"><%= notice %></div>
       <% end %>
       <% if alert.present? %>
         <div class="app-toast app-toast--danger" data-toast-target="message"><%= alert %></div>
       <% end %>
     </div>
   <% end %>
   <%= render '/shared/navbar' %>
   <%= yield %>

   <div class="lightbox" data-lightbox-target="overlay" data-action="click->lightbox#close" hidden>
     <figure class="lightbox__figure">
       <img class="lightbox__img" data-lightbox-target="image" alt="">
       <figcaption class="lightbox__caption" data-lightbox-target="caption"></figcaption>
     </figure>
   </div>
 </body>
</html>